body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

#logo{
    width: 2rem;
}

#navBar{
    font-size: 1.2rem;
}

#carrouselContainer{
    width: 60%;
    height: auto;
}